{% extends 'base.html.twig' %}

{% block title %}Détails {{ travel.name }}{% endblock %}

{% block body %}
    <div class="container" style="padding: 2%;" >
        <div class="row" style="padding: 2%;" >
            <div class="card" style="width: 18rem;">
                <img src="{{ asset(travel.path) }}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{ travel.name }}</h5>
                    <p class="card-text">{{ travel.city }}</p>
                    <p class="card-text">{{ travel.country }}</p>
                    <p class="card-text">{{ travel.date|date('Y.m.d') }}</p>
                </div>
            </div>
        </div>
    </div>
    <div>
        {% for comment in comments %}
            <div>
                <h3>{{ comment.sender }}</h3>
                <p>{{ comment.message }}</p>
            </div>
        {% endfor %}
    </div>
    <div>
        <h1>New Comment</h1>

        {{ form_start(form) }}
        
        <div class="form-group">
            {{ form_row(form.sender, {'label': 'Enter your mail'}) }}
        </div>

        <div class="form-group">
            {{ form_row(form.message, {'label': 'Enter your comment'}) }}
        </div>

        {# travel field is hidden on the form, so it won't be displayed here #}

        <button type="submit" class="btn btn-primary">Submit</button>

        {{ form_end(form) }}
    </div>
{% endblock %}